
.jumbotron {
    background-image: url('../img/Background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-self: center;
    align-items: center;
    height: 600px;
    margin-top: 60%;
}
.entries{
    margin-top: 4%;
}


.footer{
    background-image: linear-gradient(to top left, rgb(0, 0, 0), rgb(82, 0, 0));
    z-index: inherit;
}



/*test*/



.sidenav {
    height: 100%;
    position: fixed;
    width: 20%;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    padding-top: 20px;
    margin-top: 4%;
    background-color: rgba(39, 0, 0, 0.918);
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  .main  { 
    font-size: 1.2rem; 
    background-color: rgba(54, 2, 2, 0.822);
  }
  .mainBlog  { 
    font-size: 1.2rem; 
    background-color: #0e0a0ac7;
  }
  .main .container{  
    background-color: rgb(54, 2, 2);
    box-shadow: 5px 4px 8px 5px rgba(0, 0, 0, 0.2), 5px 6px 20px 5px rgba(0, 0, 0, 0.19);
    border-radius: 3em;
  }
   
  @media  (max-width: 800px){
      .sidenav{
          position: relative;
      }
      .main{
          background-image: linear-gradient(to right top,rgba(0, 0, 0, 0.808), #000000cc);
          border-top-right-radius: 0;
          border-bottom-left-radius: 0;
          margin: 0em;
      }
      .video-blog{
          width: 80%;
          margin-left: 10%;
      }
  }